<template>
    <tbody>
        <tr>
            <td style="width: 10%">
                <button title="show" @click="toggleGroup">{{ isGroupExpanded ? '-' : '+' }}</button>
            </td>
            <td style="width: 10%">{{ entity.id }}</td>
            <td style="width: 10%">{{ entity.parentId }}</td>
            <td style="width: 10%">{{ entity.rootId }}</td>
            <td style="width: 50%">
                <span v-if="isEditMode">
                    <input type="text" title="edit name" v-model="entity.name" /> &nbsp;
                    <a style="cursor: pointer;" title="save changes" @click="save">save changes</a>
                    &nbsp;
                    <em>- or -</em>
                    &nbsp;
                    <a style="cursor: pointer;" title="cancel" @click="cancel">cancel</a>
                </span>
                <span v-else>
                    <a style="cursor: pointer;" :title="'click to edit ' + entity.name" @click="editMode">{{ entity.name }}</a>
                </span>
            </td>
            <td style="width: 10%">
                <button :title="'remove ' + entity.name" @click="remove">remove</button>
            </td>
        </tr>
        <tr v-if="isGroupExpanded">
            <td colspan="6">
                <entity-group :parent="entity"></entity-group>
            </td>
        </tr>
    </tbody>
</template>

<script src="./entityitem.ts"></script>
