<template>
    <div>
        <h1>Fetch Entities</h1>

        <p>This component demonstrates fetching entities from the server.</p>

        <div v-if="entities.length">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in entities">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                    </tr>
                </tbody>
            </table>
            
            <p>Add a new entity</p>
            
            <input type="text" v-model="newEntity.name" />
            <button @click="add()">Add</button>
        </div>
        
        <p v-else><em>Loading...</em></p>
    </div>
</template>

<script src="./fetchentity.ts"></script>
