<template>
    <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header">
                <h3>
                     Oops! Sorry...
                </h3>
              </div>
              <div class="modal-body">
                <slot name="body">
                   <p>Something went really wrong!</p> 
                   <p>Please refresh your browser to see if that helps.</p> 
                </slot>
              </div>
              <div class="modal-footer">
                <slot name="footer">
                    <button class="modal-default-button" @click="$emit('ok')">
                        OK
                    </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
</template>

<script src="./fatalmodal.ts"></script>
<style scoped src="./fatalmodal.css" />
<style src="./modaltransition.css" />